@import url(~react-input-range/lib/css/index.css);

.soundbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.soundbar_input-range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.soundbar_main-controls {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-bottom: 10px;
}

.soundbar_volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin-right: 20px;
}

.soundbar_currently-playing {
  width: 20%;
}

.react-player {
  width: 0px;
  height: 0px;
}

.soundbar_back-icon {
  color: #696969;
}

.soundbar_play-icon {
  color: #696969;
}

.soundbar_forward-icon {
  color: #696969;
}

.soundbar_volume-icon {
  color: #696969;
  margin-right: 7px;
}
