@import url(~react-input-range/lib/css/index.css);

.soundbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #141414;
  z-index: 100;
}

.container {
  display: flex;
  align-items: center;
  width: 95%
}

.soundbar__main-controls {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.soundbar__currently-playing {
  width: 50%;
}

.soundbar__song-name {
  color: #fff;
  margin-top: 3px;
  margin: 0;
}

.soundbar__control-buttons {
  color: #fff;
  margin-right: 40px
}

.soundbar__current-song {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-size: 12px;
}

.soundbar__currently-playing-help {
  margin: 0;
  color: #ececec;
  font-size: 12px
}

/*
.soundbar__progress-bar {
  height: 4px;
}

.progress {
    overflow: visible !important;
}
*/


.soundbar__volume {
  display: flex;
  align-content: center;
}


.soundbar__volume {
  display: flex;
  align-items: center;
  width: 25%;
}

.soundbar__progress-volume {
  width: 50%;
  /*height: 4px*/
}

/*
.thumb {
  position: relative;
  float: right;
  height: 0.5rem;
  width: 0.5rem;
  background-color: gray;
  left: 32%;
  top: 50%;
  margin-right: -0.25rem;
  margin-top: -0.15rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  z-index: 110;
}
*/

.soundbar__volume-icon {
  margin-left: 70px;
  margin-right: 10px;
  color: #fff
}

.soundbar__volume-label {
    margin-left: 1em;
}

/*
Input range css
*/
.input-range__label {
    font-family: inherit;
}

.input-range__slider {
    background-color: white;
}

.input-range__track--active {
    background-color: rgb(108, 201, 247);
}
