.soundbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: url(../../images/bg.png) no-repeat center center fixed;
  z-index: 100;
}

.container {
  display: flex;
  align-items: center;
  width: 95%
}

.soundbar__main-controls {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.soundbar__currently-playing {
  width: 50%;
}

.soundbar__song-name {
  color: #fff;
  margin-top: 3px;
  margin: 0;
}

.soundbar__control-buttons {
  color: #fff;
  margin-right: 40px
}

.soundbar__current-song {
  display: flex;
  flex-direction: column;
  width: 20%
}

.soundbar__currently-playing-help {
  margin: 0;
  color: #fff;
  font-size: 12px
}

.soundbar__progress-bar {
  height: 4px
}

.soundbar__volume {
  display: flex;
  align-content: center;
}

.soundbar__volume {
  display: flex;
  align-items: center;
  width: 25%;
}

.soundbar__progress-volume {
  width: 50%;
  height: 4px
}

.thumb {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  background-color: white;
  left: 32%;
  top: 50%;
  margin-left: -0.25rem;
  margin-top: -0.25rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.soundbar__volume-icon {
  margin-left: 70px;
  margin-right: 10px;
  color: #fff
}
