@import url('https://fonts.googleapis.com/css?family=Nunito');

.upload {
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.upload__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 20px
}

.upload__button {
  cursor: pointer;
  width: 200px;
  margin: 0;
  margin-right: 20px;
  border-color: #FF4940
}

.upload__button-text {
  color: #FF4940;
  margin: 0;
  padding: 0;
}

.upload__button-text:hover {
  color: #fff;
  margin: 0;
  padding: 0;
}

.upload__button:hover {
  cursor: pointer;
  width: 200px;
  margin: 0;
  margin-right: 20px;
  border-color: #FF4940;
  background: #FF4940
}

.upload__input {
  display: none;
}

.upload__percent-complete {
  margin-right: 10px;
  padding-top: 10px;
}
