@import url('https://fonts.googleapis.com/css?family=Bungee');

.upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0px;
  background-color: #17202A
}

.upload__button {
  cursor: pointer;
  border-radius: 2px;
  width: 200px;
  margin: 0;
  margin-right: 5px;
}

.upload__input {
  display: none;
}

.upload__progress-wrapper {
  border-radius: 0px;
  background: #17202A;
  width: 1200px;
  margin-right: 20px;
}

.upload__progress-bar {
  border-radius: 0px;
  background: #00FFFF
}

.upload__percent-complete {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
