@import url('https://fonts.googleapis.com/css?family=Nunito');

.upload {
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.upload__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 20px
}

.upload__button {
  cursor: pointer;
  width: 200px;
  margin: 0;
  margin-right: 20px;
  background: url(../../images/bg.png) no-repeat center center fixed;
  border: #141414;
}

.upload__input {
  display: none;
}

.upload__percent-complete {
  margin-right: 10px;
  padding-top: 10px;
  color: #62ff94
}
