.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #FF4940;
}

.header__text {
  color: #fff;
  font-size: 18px;
  margin: 0 0 0 20px;
  padding: 0;
}
