.side {
  height: 100%;
  width: 400px;
  background: #141414;
  position: fixed;
  right: 0;
  z-index: 15
}

canvas {
  display: block;
  left: 50%;
  margin: -150px 0 0 -150px;
  position: absolute;
  top: 50%;
}
