@import url('https://fonts.googleapis.com/css?family=Nunito');

.home {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #000;
}

.home__left {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  width: 100%;
  height: 100%;
}

.home__navbar-right {
  display: flex;
  align-items: center;
  margin-right: 85px
}

.home__nav-links {
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #141414;
  z-index: 20
}
