@import url('https://fonts.googleapis.com/css?family=Nunito');

.home {
  background-color: #141414;
  min-height: 100vh;
}

.home__navbar-right {
  display: flex;
  align-items: center;
  margin-right: 85px
}

.home__nav-links {
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #141414;
}
