@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Home Layout */

.home {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 50px 1fr 100px;
  background: #141414;
}

.home__sidebar-wrapper {
  grid-column: 1;
  grid-row: 1 / 4;
  z-index: 10;
}

.home__nav {
  grid-column: 2;
  grid-row: 1;
  background: #141414;
  display: flex;
  justify-content: space-between;
}

.home__header-wrapper {
  grid-column: 2;
  grid-row: 2;
}

.home__library-wrapper {
  grid-column: 2;
  grid-row: 3;
}

.home__soundbar-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  grid-column: 2 / 3;
  grid-row: 4;
}

.home__navbar-right {
  display: flex;
}
