@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background: #000;
  min-height: 100vh;
}

.app__container {
  background: #000
}
